@page "/totalsemesters/{pdid}"
@inject NavigationManager nm

@if (check )
{
    <MessageComponent CustomMessage="@message"></MessageComponent>
}
<h3>Total Semesters</h3>
<a class="btn btn-primary" href="/programdegreedetails" role="button">Go Back</a>

<table>
    <tr>
        <td>
            Total Semesters
        </td>
        <td>

            <select class="form-select"  aria-label="Default select example" @onchange="_EditOption">
                <option selected>Select Total Semesters</option>
                <option value="1">1 </option>
                <option value="2">2 </option>
                <option value="3">3 </option>
                <option value="4">4 </option>
                <option value="5">5 </option>
                <option value="6">6 </option>
                <option value="7">7 </option>
                <option value="8">8 </option>
                <option value="9">9 </option>
                <option value="10">10 </option>
                <option value="11">11 </option>
                <option value="12">12 </option>
                <option value="13">13 </option>
                <option value="14">14 </option>
                <option value="15">15 </option>


            </select>
        </td>
    </tr>

    <tr>
        <td> <button type="submit" @onclick="UpdateSemester">Update</button></td>
    </tr>
</table>


@code {
    private string? EditOption { get; set; }
    [Parameter] public string? pdid { get; set; }
    private ClassLibraryEntities.EntProgramDegreeDetails ModelProgramDegreeDetails { get; set; } = new ClassLibraryEntities.EntProgramDegreeDetails();
    private bool check { get; set; } = false;
    private string? message { get; set; }


    private void _EditOption(ChangeEventArgs e)
    {
        EditOption = e.Value as string;

    }
    private void UpdateSemester()
    {   
        ModelProgramDegreeDetails.TotalSemesters = EditOption;
        ModelProgramDegreeDetails.ProgramDegreeDetailsId = pdid;
        ModelProgramDegreeDetails.type = "TotalSemesters";
        ClassLibraryDAL.DALProgramDegreeDetails.UpdateProgramCategory(ModelProgramDegreeDetails);
        check = true;
        message = "Succesfully Updated the Total Semester";

        
       
    }
}
